Source: emb-buzzer
Section: unknown
Priority: optional
Maintainer: Joonas Kylmälä <joonas.kylmala@jns.fi>
Standards-Version: 3.9.5
Build-Depends: debhelper (>=9), perl, libmodern-perl-perl

Package: libemb-buzzer-perl
Architecture: armhf
Multi-Arch: foreign
Depends: perl, libmodern-perl-perl, libemb-gpio-perl
Standards-Version: 3.9.5
Description: makes piezo do different sounds
 Makes piezo do different sounds