[Unit]
Description=emb-rtttl system daemon

[Service]
Type=simple
User=root

ExecStartPre=/bin/mkdir -p /run/emb-rtttl
ExecStartPre=/bin/chown -R pi:gpio /run/emb-rtttl
ExecStart=/usr/local/bin/rtttl-player --daemon --rundir="/run/emb-rtttl/"

PIDFile=/run/emb-rtttl/pid
#Monitoring agents can better detect the failed states, when they typically poll every minute.
RestartSec=60s
Restart=always

PrivateTmp=yes

[Install]
WantedBy=multi-user.target
